@model ContatoModel
@{
    ViewData["Title"] = "Confirmação exclusão de contato";
}
<div class="text-center">
    <h3>Tem certeza que deseja excluir esse contato (@Model.Nome) ?</h3>

</div>
<a class="btn btn-primary w-100" asp-action="Index" asp-controller ="Contato" role ="button">Cancelar exclusão</a>
<a class="btn btn-danger w-100 mt-2" asp-action="Apagar" asp-controller="Contato" asp-route-id ="@Model.Id" role="button">Confirmar exclusão</a>
