@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<p>Seu usuário não possui permissão para acessar este módulo,<a asp-controller="Home" asp-action="Index">Clique aqui para voltar!</a></p>
